{% extends "myweb.html" %}

{% block mytitle %}

    Product page for {{name}}

{%  endblock %}

{%  block main %}

This is my product list page from template


<table border="1">

<form action="/addToCart">
    <tr>
       <td>Name</td>
        <td>{{name}}</td>
    </tr>

    <tr>
       <td>Description</td>
        <td>{{desc}}</td>
    </tr>

    <tr>
       <td>Price</td>
        <td>{{price}}</td>
    </tr>

     <tr>
       <td>Qty</td>

        <td>

            <input type="text" name="qty">
            <input type="hidden" name="pid" value="{{id}}">

        </td>
    </tr>

    <tr>
       <td></td>
        <td><input type="submit" value="Add To Cart"></td>
    </tr>

    </form>

</table>


{%  endblock %}